data/
all_weights/
.vscode/
Dassl.pytorch/
output*/
scripts/.*
.nfs*
configs/trainers/text_cls/*
test*.py
embeddings/
test*/
descriptions/*.json
svl_adapter_models/



# Python specific
*.pyc
*.pyo
__pycache__/

# Environments
venv/
env/
