data/
all_weights/
.vscode/
Dassl.pytorch/
output*/
scripts/.*
test/
test*/
.nfs*
configs/trainers/text_cls/*
svl_adapter_models/*
final_output/
scripts/lafter_pl1.sh
embeddings/
descriptions/*/*
final_output*/
slurm-logs/
submit.sh
ssl_models/*
scalemae_models/*
satmae_models/*
svl_adapter_models2/*
scripts/*
unshared_pl1_avg.sh
# Python specific
*.pyc
*.pyo
__pycache__/

# Environments
venv/
env/
